.section{
    margin-top : 15px;
    margin-left : 5px;
}
.center{
    margin-left : 100px;
}
.left {
    float:left;
    width:30%
}.
.right {
    float:left;
    width:70%
}

.item_select{
}

.item_name{
    width:200px;
}
.date_of_publish{
    width:150px;
}
.mrp{
    width:70px;
}
.discount{
    width:70px;
}
.price_per_item{
    width:70px;
}
.qty{
    width:70px;
}
.total{
    width:70px;
}
#procurement_transactions_accordion,#sales_transactions_accordion{
    margin-top:80px
}
