.section{
    margin-top : 15px;
    margin-left : 5px;
}
.center{
    margin-left : 100px;
}
.left {
    float:left;
    width:30%
}.
.right {
    float:left;
    width:70%
}

.item_select{
}

.item_name{
    width:200px;
}
.date_of_publish{
    width:150px;
}
.mrp{
    width:70px;
}
.discount{
    width:70px;
}
.price_per_item{
    width:70px;
}
.qty{
    width:70px;
}
.total{
    width:70px;
}
#procurement_transactions_accordion,#sales_transactions_accordion{
    margin-top:80px
}
.simple_overlay {
    background-color: #FFFFC6;
    border: 4px solid #674C2C;
    display: none;
    width: 675px;
    z-index: 10000;
}
.simple_overlay .close {
    background: url("../images/overlay_close.png") repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 35px;
    position: absolute;
    right: -15px;
    top: -15px;
    width: 35px;
}
.table_header{
	background-color: #638EA8;
	color:white;
}
.content_header {
    display: block;
    font-size: 2.7em;
    margin-top: 5px;
    padding-bottom: 25px;
    text-align: center;
    width: 100%;
}
.transaction_details_count{
    text-align:center;
}
.date_of_publish_select{
    margin-top:5px;
}
.date_of_publish{
    margin-top:5px;
    margin-bottom:5px;
}